@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --container-w: 92%;
  }
  @screen sm {
    :root {
      --container-w: clamp(480px, 90%, 1280px);
    }
  }
  @screen 2xl {
    :root {
      --container-w: clamp(1000px, 85%, 1280px);
    }
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
    font-family: "Barlow", sans-serif;
    @apply text-dark-gray bg-cream;
    position: relative;
  }
  img {
    display: block;
    max-width: 100%;
  }
  a {
    text-decoration: none;
    transition: 0.3s ease-in-out;
  }
  a:hover {
    color: inherit;
  }
}
.heading1, .heading2, .heading3, .heading4, .cta, .summary-text {
  font-family: "Fraunces", serif;
  font-weight: 900;
}

.heading1 {
  font-size: 40px;
  line-height: 40px;
}

.heading2 {
  font-size: 40px;
  line-height: 72px;
}

.heading3 {
  font-size: 24px;
  line-height: 32px;
}

.heading4 {
  font-size: 24px;
  line-height: 28px;
  @apply text-gray;
}

.paragraph {
  font-size: 15px;
  line-height: 25px;
}

.header-link, .footer-link {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.92px;
  font-family: "Barlow", sans-serif;
  font-weight: bold;
}

.header-link:hover {
  @apply text-dark-gray;
}

.footer-link:hover {
  @apply text-cream;
}

.summary-text {
  font-size: 24px;
  line-height: 40px;
}

@screen md {
  .heading1 {
    font-size: 48px;
    line-height: 48px;
  }
}
@screen xl {
  .heading1 {
    font-size: 72px;
    line-height: 72px;
  }
  .paragraph {
    font-size: 16px;
    line-height: 26px;
  }
}
/* general styles  */
.flexCenter {
  @apply flex justify-center items-center;
}

.flexBetween {
  @apply flex justify-between items-center;
}

.flexAround {
  @apply flex justify-around items-center;
}

.flexStart {
  @apply flex justify-start items-center;
}

.flexEnd {
  @apply flex justify-end items-center;
}

.cta {
  font-size: 18px;
  line-height: 25px;
  padding: 15px 31px;
  @apply bg-cyan text-cream;
  border-radius: 6px;
}

.cta:hover {
  background-color: #66D2CF;
}

.home-hero-bg {
  background: url("/src/assets/home/mobile/image-hero-coffeepress.jpg") no-repeat top center;
  background-size: cover;
}
@screen md {
  .home-hero-bg {
    background: url("/src/assets/home/tablet/image-hero-coffeepress.jpg") no-repeat top center;
    background-size: cover;
  }
}

.bg-overlay {
  background: linear-gradient(180deg, #FEFCF7 45%, rgba(254, 252, 247, 0.5) 100%);
}

.sidebar {
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-top {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}
.social a:hover path {
  @apply fill-orange duration-300;
}

.about-hero-bg {
  background: url("/src/assets/about/mobile/image-hero-whitecup.jpg") no-repeat top center;
  background-size: cover;
}
@screen sm {
  .about-hero-bg {
    background: url("/src/assets/about/tablet/image-hero-whitecup.jpg") no-repeat top center;
    background-size: cover;
  }
}
@screen lg {
  .about-hero-bg {
    background: url("/src/assets/about/desktop/image-hero-whitecup.jpg") no-repeat top center;
    background-size: cover;
  }
}

.plan-hero-bg {
  background: url("/src/assets/plan/mobile/image-hero-blackcup.jpg") no-repeat top center;
  background-size: cover;
}
@screen sm {
  .plan-hero-bg {
    background: url("/src/assets/plan/tablet/image-hero-blackcup.jpg") no-repeat top center;
    background-size: cover;
  }
}
@screen lg {
  .plan-hero-bg {
    background: url("/src/assets/plan/desktop/image-hero-blackcup.jpg") no-repeat top center;
    background-size: cover;
  }
}

.accordion-btn[aria-expanded=true] + .collapsepreference,
.accordion-btn[aria-expanded=true] + .collapsebean,
.accordion-btn[aria-expanded=true] + .collapsedelivery,
.accordion-btn[aria-expanded=true] + .collapsequantity,
.accordion-btn[aria-expanded=true] + .collapsegrind {
  max-height: 500px;
  transition: all 0.3s linear;
  will-change: max-height;
}
@screen xl {
  .accordion-btn[aria-expanded=true] + .collapsepreference,
  .accordion-btn[aria-expanded=true] + .collapsebean,
  .accordion-btn[aria-expanded=true] + .collapsedelivery,
  .accordion-btn[aria-expanded=true] + .collapsequantity,
  .accordion-btn[aria-expanded=true] + .collapsegrind {
    max-height: 400px;
  }
}

.collapsepreference, .collapsebean, .collapsedelivery, .collapsequantity, .collapsegrind {
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  will-change: max-height;
}

.option input[type=radio] {
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
}

.option input[type=radio]:checked + label {
  @apply bg-cyan text-cream;
}

.accordion-btn::after {
  content: "";
  background-image: url(/src/assets/plan/desktop/icon-arrow.svg);
  width: 18.19px;
  height: 11.92px;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: 5px;
  transition: 0.5s ease-linear;
}

.accordion-btn:not(.rotate)::after {
  transform: rotate(180deg);
}

@screen md {
  .accordion-btn::after {
    top: 15px;
  }
}
.question-mb {
  margin-bottom: 80px;
}

.collapse-anim {
  animation: fadeInUp 0.5s;
}

@keyframes fadeInUp {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.disabled {
  pointer-events: none;
  @apply bg-gray;
}

.sidemenu-active {
  opacity: 1;
}/*# sourceMappingURL=index.css.map */